##server {
##   listen       443;
##   server_name  _;
##
##}

    server {
        listen       80;
        listen       443;
        server_name  _;

        charset utf-8;

        access_log  /var/log/nginx/host.access.log;
        error_log   /var/log/nginx/host.error.log;

        location / {
            root   /var/www/html;
            index  index.html index.htm;
        }

        include /etc/nginx/snippets/errors.conf;
    }