    server {
        listen       80;
        server_name  _;

        charset utf-8;

        # access_log  logs/host.access.log  main;
        # error_log  logs/host.error.log  main;

        location / {
            root   /var/www/html;
            index  index.html index.htm;
        }

        include /etc/nginx/snippets/errors.conf;
    }